## Python Pandas

The *pandas* package is the most important tool at the disposal of Data Scientists and Analysts working in Python today. The powerful machine learning and glamorous visualization tools may get all the attention, but pandas is the backbone of most data projects.

>\[*pandas*\] is derived from the term "**pan**el **da**ta", an econometrics term for data sets that include observations over multiple time periods for the same individuals. â€” [Wikipedia](https://en.wikipedia.org/wiki/Pandas_%28software%29)

If you're thinking about data science as a career, then it is imperative that one of the first things you do is learn pandas. In this post, we will go over the essential bits of information about pandas, including how to install it, its uses, and how it works with other common Python data analysis packages such as **matplotlib** and **sci-kit learn**.

![image.png]()![image.png](attachment:image.png)

## What's Pandas for?

Pandas has so many uses that it might make sense to list the things it can't do instead of what it can do.

This tool is essentially your dataâ€™s home. Through pandas, you get acquainted with your data by cleaning, transforming, and analyzing it.

For example, say you want to explore a dataset stored in a CSV on your computer. Pandas will extract the data from that CSV into a DataFrame â€” a table, basically â€” then let you do things like:

- Calculate statistics and answer questions about the data, like


    - What's the average, median, max, or min of each column?
    - Does column A correlate with column B?
    - What does the distribution of data in column C look like?


- Clean the data by doing things like removing missing values and filtering rows or columns by some criteria


- Visualize the data with help from Matplotlib. Plot bars, lines, histograms, bubbles, and more.


- Store the cleaned, transformed data back into a CSV, other file or database


Before you jump into the modeling or the complex visualizations you need to have a good understanding of the nature of your dataset and pandas is the best avenue through which to do that.

## Pandas First Steps

### Install and import
Pandas is an easy package to install. Open up your terminal program (for Mac users) or command line (for PC users) and install it using either of the following commands:

`conda install pandas`

OR

`pip install pandas`

In [ ]:
!conda install pandas
!pip install pandas

In [ ]:
#import pandas
import pandas as pd
import numpy as np

## Core components of pandas: Series and DataFrames

The primary two components of pandas are the `Series` and `DataFrame`.

A `Series` is essentially a column, and a `DataFrame` is a multi-dimensional table made up of a collection of Series.

![image.png]()![image.png]

DataFrames and Series are quite similar in that many operations that you can do with one you can do with the other, such as filling in null values and calculating the mean.

You'll see how these components work when we start working with data below.

In [ ]:
import pandas
import pandas as pd

In [ ]:
#Set
data= {1,2,3,4}

In [ ]:
data = {
    'INDIA': ["Win","Win","Win"],
    'USA': ["Win","Lost","Win"]
}

In [ ]:
#D caps and F caps
matchData = pd.DataFrame(data)

In [ ]:
matchData

In [ ]:
pd.DataFrame?

In [ ]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]))

In [ ]:
df2

In [ ]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),index = ["row1",'row2','row3'])

In [ ]:
df2

In [ ]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),index = ["row1",'row2','row3'],columns = ['col1','col2','col3'])

In [ ]:
df2

In [ ]:
df2['col1']['row1']

1

In [ ]:
type(df2)

In [ ]:
type(df2['col1'])

In [ ]:
df2[['col1','col2']]

      col1  col2
row1     1     2
row2     4     5
row3     7     8

In [ ]:
df2[['row1'],['col1','col2']]

InvalidIndexError: ('row1', ['col1', 'col2'])

In [ ]:
df2[:,['col1','col2']]

InvalidIndexError: (slice(None, None, None), ['col1', 'col2'])

In [ ]:
#iloc, loc - iloc - Index based location
#loc - Location

In [ ]:
df2

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [ ]:
df2.iloc[0,0:2]

col1    1
col2    2
Name: row1, dtype: int64

In [ ]:
df2.iloc[0:2,0:2]

      col1  col2
row1     1     2
row2     4     5

In [ ]:
df2.iloc?
df2.iloc[row index,column index]
"""Purely integer-location based indexing for selection by position.

``.iloc[]`` is primarily integer position based (from ``0`` to
``length-1`` of the axis), but may also be used with a boolean
array."""

'Purely integer-location based indexing for selection by position.\n\n``.iloc[]`` is primarily integer position based (from ``0`` to\n``length-1`` of the axis), but may also be used with a boolean\narray.'

In [ ]:
df2.iloc[0:2,[0,2]]

      col1  col3
row1     1     3
row2     4     6

In [ ]:
df2.iloc[0:2,[0,3]]

IndexError: positional indexers are out-of-bounds

In [ ]:
df2.loc['row1','col1']

1

In [ ]:
df2.loc[['row1','row3'],['col1','col3']]

      col1  col3
row1     1     3
row3     7     9

In [ ]:
df2.loc[1:,['col1','col3']]

TypeError: cannot do slice indexing on Index with these indexers [1] of type int

In [ ]:
df2

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [ ]:
df2.loc[df2['col1'] > 2]
#df[where it is applied].[condition is applied to entire ds on the left]
#LOC also supports boolean arrays where conditions can be used to filter - queried data

In [ ]:
df2['col1'] > 2

In [ ]:
#get me all the values that are even from col2 and apply to entire dataframe
df2.loc[df2['col2']%2==0]

In [ ]:
df = pd.read_csv("purchases.csv")

In [ ]:
df

In [ ]:
df = pd.read_csv("purchases.csv",index_col = 0)

In [ ]:
df

In [ ]:
dfJson = pd.read_json("purchases.json")

In [ ]:
dfJson.head(4)

In [ ]:
dfJson.tail(1)

In [ ]:
pd.read_csv?



```
:apples:oranges
June:3:0
Robert:2:3
Lily:0:7
David:1:2
```

In [ ]:
df = pd.read_csv("Sample.csv",sep = ":",index_col = 0)

In [ ]:
df

In [ ]:
df = pd.read_excel("Sample.xlsx")

In [ ]:
df

In [ ]:
!pip install pysqlite3

In [ ]:
import sqlite3
#If facing error in the above library use this !pip install db-sqlite3

In [ ]:
con = sqlite3.connect('database.db') #IF you will have to connect to a DB pwds, host names, access keys

In [ ]:
sqlite3.connect?

In [ ]:
df = pd.read_sql_query("SELECT * FROM purchases",con)
df

In [ ]:
df.set_index('index')

In [ ]:
df = pd.read_csv("new_csv.csv",sep = "|",index_col = 1)

In [ ]:
df

            Unnamed: 0.1  apples  oranges
Unnamed: 0
June                   0       3        0
Robert                 1       2        3
Lily                   2       0        7
David                  3       1        2

In [ ]:
!wget https://raw.githubusercontent.com/nursnaaz/FutureDataScienceLegends/main/Python/Pandas_Basics_1/purchases.json

--2024-06-15 05:47:01--  https://raw.githubusercontent.com/nursnaaz/FutureDataScienceLegends/main/Python/Pandas_Basics_1/purchases.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 102 [text/plain]
Saving to: â€˜purchases.json.1â€™

purchases.json.1    100%[===================>]     102  --.-KB/s    in 0s

2024-06-15 05:47:02 (5.08 MB/s) - â€˜purchases.json.1â€™ saved [102/102]

In [ ]:
dfURL = pd.read_csv("https://raw.githubusercontent.com/nursnaaz/FutureDataScienceLegends/main/Python/Pandas_Basics_1/Sample.csv",sep=":",index_col = 0)

In [ ]:
dfURL

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [ ]:
pd.read_json?

In [ ]:
df=pd.read_json("https://raw.githubusercontent.com/nursnaaz/FutureDataScienceLegends/main/Python/Pandas_Basics_1/purchases.json")

In [104]:
df.to_csv("sample.csv")
df.to_excel("sample.xlsx")

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [101]:
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
connection = create_engine(host="",port="",database="",user="",password="")
sql = """SOME SQL COMMAND"""
dfSQL = pd.read_sql_query(sql,connection)

In [ ]:
#Break till 11:35am IST..

In [105]:
df.shape

(4, 2)

In [108]:
movies = pd.read_csv("IMDB-Movie-Data.csv",index_col = "Title")

In [107]:
movies.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [ ]:
movies

In [111]:
movies.loc[movies['Rank'] == 60].index

Index(['Sully'], dtype='object', name='Title')

In [112]:
movies2 = movies.copy()

In [ ]:
movies2

In [116]:
appendedDf = pd.concat([movies,movies2])

In [ ]:
appendedDf.loc[appendedDf['Rank'] == 60]

In [120]:
appendedDf = appendedDf.drop_duplicates()

In [125]:
appendedDf.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [126]:
appendedDf = appendedDf.drop_duplicates(subset = "Year")

In [127]:
appendedDf.shape

(11, 11)

In [129]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 126.0+ KB

In [150]:
NullDf = pd.DataFrame(movies.isna().sum(), columns = ['values'])
NullDf.loc[NullDf['values'] >0]

                    values
Revenue (Millions)     128
Metascore               64

In [ ]:
movies.dropna() #Drop whole row of null values

In [ ]:
movies.loc[(movies['Revenue (Millions)'].isna())&(movies['Metascore'].isna())]

In [145]:
movies.loc[(movies['Revenue (Millions)'].isna())|(movies['Metascore'].isna())]

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Mindhorn,8,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
Hounds of Love,23,"Crime,Drama,Horror",A cold-blooded predatory couple while cruising...,Ben Young,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",2016,108,6.7,1115,NaN,72.0
Paris pieds nus,26,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN,NaN
Bahubali: The Beginning,27,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
Dead Awake,28,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Martyrs,989,Horror,A young woman's quest for revenge against the ...,Pascal Laugier,"Morjana Alaoui, MylÃ¨ne JampanoÃ¯, Catherine BÃ©g...",2008,99,7.1,63785,NaN,89.0
Selma,990,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
Take Me Home Tonight,993,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0

In [143]:
moviesStatics= movies.describe()

In [144]:
moviesStatics

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [155]:
movies.shape[0]

1000

In [156]:
movies.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [157]:
movies.rename(columns = {
    "Rank":"ranks",
    'Genre':'gener'
})

,ranks,gener,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [158]:
for i in movies:
  print(i)

Rank
Genre
Description
Director
Actors
Year
Runtime (Minutes)
Rating
Votes
Revenue (Millions)
Metascore

In [159]:
for i in movies.values:
  print(i)

[1 'Action,Adventure,Sci-Fi'
 'A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.'
 'James Gunn' 'Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana' 2014
 121 8.1 757074 333.13 76.0]
[2 'Adventure,Mystery,Sci-Fi'
 'Following clues to the origin of mankind, a team finds a structure on a distant moon, but they soon realize they are not alone.'
 'Ridley Scott'
 'Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron'
 2012 124 7.0 485820 126.46 65.0]
[3 'Horror,Thriller'
 'Three girls are kidnapped by a man with a diagnosed 23 distinct personalities. They must try to escape before the apparent emergence of a frightful new 24th.'
 'M. Night Shyamalan'
 'James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula' 2016
 117 7.3 157606 138.12 62.0]
[4 'Animation,Comedy,Family'
 "In a city of humanoid animals, a hustling theater impresario's attempt to save his theater with a singing competition becomes grander than he anticipates even as its finalists' find that their lives will never be the same."
 'Christophe Lourdelet'
 'Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson'
 2016 108 7.2 60545 270.32 59.0]
[5 'Action,Adventure,Fantasy'
 'A secret government agency recruits some of the most dangerous incarcerated super-villains to form a defensive task force. Their first mission: save the world from the apocalypse.'
 'David Ayer' 'Will Smith, Jared Leto, Margot Robbie, Viola Davis' 2016
 123 6.2 393727 325.02 40.0]
[6 'Action,Adventure,Fantasy'
 'European mercenaries searching for black powder become embroiled in the defense of the Great Wall of China against a horde of monstrous creatures.'
 'Yimou Zhang' 'Matt Damon, Tian Jing, Willem Dafoe, Andy Lau' 2016 103
 6.1 56036 45.13 42.0]
[7 'Comedy,Drama,Music'
 'A jazz pianist falls for an aspiring actress in Los Angeles.'
 'Damien Chazelle'
 'Ryan Gosling, Emma Stone, Rosemarie DeWitt, J.K. Simmons' 2016 128 8.3
 258682 151.06 93.0]
[8 'Comedy'
 'A has-been actor best known for playing the title character in the 1980s detective series "Mindhorn" must work with the police when a serial killer says that he will only speak with Detective Mindhorn, whom he believes to be a real person.'
 'Sean Foley'
 'Essie Davis, Andrea Riseborough, Julian Barratt,Kenneth Branagh' 2016 89
 6.4 2490 nan 71.0]
[9 'Action,Adventure,Biography'
 'A true-life drama, centering on British explorer Col. Percival Fawcett, who disappeared while searching for a mysterious city in the Amazon in the 1920s.'
 'James Gray'
 'Charlie Hunnam, Robert Pattinson, Sienna Miller, Tom Holland' 2016 141
 7.1 7188 8.01 78.0]
[10 'Adventure,Drama,Romance'
 'A spacecraft traveling to a distant colony planet and transporting thousands of people has a malfunction in its sleep chambers. As a result, two passengers are awakened 90 years early.'
 'Morten Tyldum'
 'Jennifer Lawrence, Chris Pratt, Michael Sheen,Laurence Fishburne' 2016
 116 7.0 192177 100.01 41.0]
[11 'Adventure,Family,Fantasy'
 "The adventures of writer Newt Scamander in New York's secret community of witches and wizards seventy years before Harry Potter reads his book in school."
 'David Yates'
 'Eddie Redmayne, Katherine Waterston, Alison Sudol,Dan Fogler' 2016 133
 7.5 232072 234.02 66.0]
[12 'Biography,Drama,History'
 'The story of a team of female African-American mathematicians who served a vital role in NASA during the early years of the U.S. space program.'
 'Theodore Melfi'
 'Taraji P. Henson, Octavia Spencer, Janelle MonÃ¡e,Kevin Costner' 2016 127
 7.8 93103 169.27 74.0]
[13 'Action,Adventure,Sci-Fi'
 'The Rebel Alliance makes a risky move to steal the plans for the Death Star, setting up the epic saga to follow.'
 'Gareth Edwards' 'Felicity Jones, Diego Luna, Alan Tudyk, Donnie Yen'
 2016 133 7.9 323118 532.17 65.0]
[14 'Animation,Adventure,Comedy'
 "In Ancient Polynesia, when a terrible curse incurred by the Demigod Maui reaches an impetuous Chieftain's daughter's island, she answers the Ocean's call to seek out the Demigod to set things right."
 'Ron Clements'
 "Auli'i Cravalho, Dwayne Johnson, Rachel House, Temuera Morrison" 2016
 107 7.7 118151 248.75 81.0]
[15 'Action,Comedy,Drama'
 'Gloria is an out-of-work party girl forced to leave her life in New York City, and move back home. When reports surface that a giant creature is destroying Seoul, she gradually comes to the realization that she is somehow connected to this phenomenon.'
 'Nacho Vigalondo'
 'Anne Hathaway, Jason Sudeikis, Austin Stowell,Tim Blake Nelson' 2016 109
 6.4 8612 2.87 70.0]
[16 'Animation,Adventure,Comedy'
 'The quiet life of a terrier named Max is upended when his owner takes in Duke, a stray whom Max instantly dislikes.'
 'Chris Renaud' 'Louis C.K., Eric Stonestreet, Kevin Hart, Lake Bell' 2016
 87 6.6 120259 368.31 61.0]
[17 'Biography,Drama,History'
 'WWII American Army Medic Desmond T. Doss, who served during the Battle of Okinawa, refuses to kill people, and becomes the first man in American history to receive the Medal of Honor without firing a shot.'
 'Mel Gibson'
 'Andrew Garfield, Sam Worthington, Luke Bracey,Teresa Palmer' 2016 139
 8.2 211760 67.12 71.0]
[18 'Action,Thriller'
 "The CIA's most dangerous former operative is drawn out of hiding to uncover more explosive truths about his past."
 'Paul Greengrass'
 'Matt Damon, Tommy Lee Jones, Alicia Vikander,Vincent Cassel' 2016 123
 6.7 150823 162.16 58.0]
[19 'Biography,Drama'
 'A five-year-old Indian boy gets lost on the streets of Calcutta, thousands of kilometers from home. He survives many challenges before being adopted by a couple in Australia. 25 years later, he sets out to find his lost family.'
 'Garth Davis' 'Dev Patel, Nicole Kidman, Rooney Mara, Sunny Pawar' 2016
 118 8.1 102061 51.69 69.0]
[20 'Drama,Mystery,Sci-Fi'
 'When twelve mysterious spacecraft appear around the world, linguistics professor Louise Banks is tasked with interpreting the language of the apparent alien visitors.'
 'Denis Villeneuve'
 'Amy Adams, Jeremy Renner, Forest Whitaker,Michael Stuhlbarg' 2016 116
 8.0 340798 100.5 81.0]
[21 'Adventure,Drama,Thriller'
 'Kenny Wells, a prospector desperate for a lucky break, teams up with a similarly eager geologist and sets off on a journey to find gold in the uncharted jungle of Indonesia.'
 'Stephen Gaghan'
 'Matthew McConaughey, Edgar RamÃ­rez, Bryce Dallas Howard, Corey Stoll'
 2016 120 6.7 19053 7.22 49.0]
[22 'Drama'
 "A depressed uncle is asked to take care of his teenage nephew after the boy's father dies."
 'Kenneth Lonergan'
 'Casey Affleck, Michelle Williams, Kyle Chandler,Lucas Hedges' 2016 137
 7.9 134213 47.7 96.0]
[23 'Crime,Drama,Horror'
 "A cold-blooded predatory couple while cruising the streets in search of their next victim, will stumble upon a 17-year-old high school girl, who will be sedated, abducted and chained in the strangers' guest room."
 'Ben Young' 'Emma Booth, Ashleigh Cummings, Stephen Curry,Susie Porter'
 2016 108 6.7 1115 nan 72.0]
[24 'Animation,Adventure,Comedy'
 'After the Bergens invade Troll Village, Poppy, the happiest Troll ever born, and the curmudgeonly Branch set off on a journey to rescue her friends.'
 'Walt Dohrn'
 'Anna Kendrick, Justin Timberlake,Zooey Deschanel, Christopher Mintz-Plasse'
 2016 92 6.5 38552 153.69 56.0]
[25 'Action,Adventure,Sci-Fi'
 "Two decades after the first Independence Day invasion, Earth is faced with a new extra-Solar threat. But will mankind's new space defenses be enough?"
 'Roland Emmerich'
 'Liam Hemsworth, Jeff Goldblum, Bill Pullman,Maika Monroe' 2016 120 5.3
 127553 103.14 32.0]
[26 'Comedy'
 'Fiona visits Paris for the first time to assist her myopic Aunt Martha. Catastrophes ensue, mainly involving Dom, a homeless man who has yet to have an emotion or thought he was afraid of expressing.'
 'Dominique Abel'
 'Fiona Gordon, Dominique Abel,Emmanuelle Riva, Pierre Richard' 2016 83
 6.8 222 nan nan]
[27 'Action,Adventure,Drama'
 'In ancient India, an adventurous and daring man becomes involved in a decades old feud between two warring people.'
 'S.S. Rajamouli'
 'Prabhas, Rana Daggubati, Anushka Shetty,Tamannaah Bhatia' 2015 159 8.3
 76193 6.5 nan]
[28 'Horror,Thriller'
 'A young woman must save herself and her friends from an ancient evil that stalks its victims through the real-life phenomenon of sleep paralysis.'
 'Phillip Guzman'
 'Jocelin Donahue, Jesse Bradford, Jesse Borrego,Lori Petty' 2016 99 4.7
 523 0.01 nan]
[29 'Comedy'
 'When three overworked and under-appreciated moms are pushed beyond their limits, they ditch their conventional responsibilities for a jolt of long overdue freedom, fun, and comedic self-indulgence.'
 'Jon Lucas' 'Mila Kunis, Kathryn Hahn, Kristen Bell,Christina Applegate'
 2016 100 6.2 66540 113.08 60.0]
[30 'Action,Adventure,Drama'
 'When Callum Lynch explores the memories of his ancestor Aguilar and gains the skills of a Master Assassin, he discovers he is a descendant of the secret Assassins society.'
 'Justin Kurzel'
 'Michael Fassbender, Marion Cotillard, Jeremy Irons,Brendan Gleeson' 2016
 115 5.9 112813 54.65 36.0]
[31 'Comedy'
 "A holiday gathering threatens to go off the rails when Ned Fleming realizes that his daughter's Silicon Valley millionaire boyfriend is about to pop the question."
 'John Hamburg'
 'Zoey Deutch, James Franco, Tangie Ambrose,Cedric the Entertainer' 2016
 111 6.3 48123 60.31 39.0]
[32 'Drama,Thriller'
 "A wealthy art gallery owner is haunted by her ex-husband's novel, a violent thriller she interprets as a symbolic revenge tale."
 'Tom Ford'
 'Amy Adams, Jake Gyllenhaal, Michael Shannon, Aaron Taylor-Johnson' 2016
 116 7.5 126030 10.64 67.0]
[33 'Action,Adventure,Sci-Fi'
 "After the re-emergence of the world's first mutant, world-destroyer Apocalypse, the X-Men must unite to defeat his extinction level plan."
 'Bryan Singer'
 'James McAvoy, Michael Fassbender, Jennifer Lawrence, Nicholas Hoult'
 2016 144 7.1 275510 155.33 52.0]
[34 'Action,Adventure,Comedy'
 'A fast-talking mercenary with a morbid sense of humor is subjected to a rogue experiment that leaves him with accelerated healing powers and a quest for revenge.'
 'Tim Miller' 'Ryan Reynolds, Morena Baccarin, T.J. Miller, Ed Skrein'
 2016 108 8.0 627797 363.02 65.0]
[35 'Action,Horror,Sci-Fi'
 'Alice returns to where the nightmare began: The Hive in Raccoon City, where the Umbrella Corporation is gathering its forces for a final strike against the only remaining survivors of the apocalypse.'
 'Paul W.S. Anderson'
 'Milla Jovovich, Iain Glen, Ali Larter, Shawn Roberts' 2016 107 5.6 46165
 26.84 49.0]
[36 'Action,Adventure,Sci-Fi'
 "Political interference in the Avengers' activities causes a rift between former allies Captain America and Iron Man."
 'Anthony Russo'
 'Chris Evans, Robert Downey Jr.,Scarlett Johansson, Sebastian Stan' 2016
 147 7.9 411656 408.08 75.0]
[37 'Adventure,Drama,Sci-Fi'
 "A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival."
 'Christopher Nolan'
 'Matthew McConaughey, Anne Hathaway, Jessica Chastain, Mackenzie Foy'
 2014 169 8.6 1047747 187.99 74.0]
[38 'Action,Adventure,Fantasy'
 'While on a journey of physical and spiritual healing, a brilliant neurosurgeon is drawn into the world of the mystic arts.'
 'Scott Derrickson'
 'Benedict Cumberbatch, Chiwetel Ejiofor, Rachel McAdams, Benedict Wong'
 2016 115 7.6 293732 232.6 72.0]
[39 'Action,Adventure,Western'
 'Seven gunmen in the old west gradually come together to help a poor village against savage thieves.'
 'Antoine Fuqua'
 "Denzel Washington, Chris Pratt, Ethan Hawke,Vincent D'Onofrio" 2016 132
 6.9 122853 93.38 54.0]
[40 'Comedy,Drama'
 "Alienated, hopeful-filmmaker Pat Johnson's epic story growing up in rural Illinois, falling in love, and becoming the first fan of the movie that changed everything."
 'Patrick Read Johnson'
 'John Francis Daley, Austin Pendleton, Colleen Camp, Neil Flynn' 2007 113
 7.1 241 nan nan]
[41 'Animation,Adventure,Comedy'
 'A sausage strives to discover the truth about his existence.'
 'Greg Tiernan' 'Seth Rogen, Kristen Wiig, Jonah Hill, Alistair Abell'
 2016 89 6.3 120690 97.66 66.0]
[42 'Drama'
 'A chronicle of the childhood, adolescence and burgeoning adulthood of a young, African-American, gay man growing up in a rough neighborhood of Miami.'
 'Barry Jenkins'
 'Mahershala Ali, Shariff Earp, Duan Sanderson, Alex R. Hibbert' 2016 111
 7.5 135095 27.85 99.0]
[43 'Horror'
 'A group of friends are going on a camping trip to celebrate graduating college. But once they enter the woods, the proverbial shit starts to hit the fan.'
 'Shawn Burkett'
 'Brittany Blanton, Ayse Howard, Roman Jossart,Nadia White' 2016 73 2.7
 496 nan nan]
[44 'Biography,Drama,History'
 "The story of Ray Kroc, a salesman who turned two brothers' innovative fast food eatery, McDonald's, into one of the biggest restaurant businesses in the world with a combination of ambition, persistence, and ruthlessness."
 'John Lee Hancock'
 'Michael Keaton, Nick Offerman, John Carroll Lynch, Linda Cardellini'
 2016 115 7.2 37033 12.79 66.0]
[45 'Drama'
 "A young street artist in East Los Angeles is caught between his father's obsession with lowrider car culture, his ex-felon brother and his need for self-expression."
 'Ricardo de Montreuil'
 'Gabriel Chavarria, DemiÃ¡n Bichir, Theo Rossi,Tony Revolori' 2016 99 6.3
 279 4.21 57.0]
[46 'Action,Adventure,Fantasy'
 'Jack Sparrow and Barbossa embark on a quest to find the elusive fountain of youth, only to discover that Blackbeard and his daughter are after it too.'
 'Rob Marshall' 'Johnny Depp, PenÃ©lope Cruz, Ian McShane, Geoffrey Rush'
 2011 136 6.7 395025 241.06 45.0]
[47 'Drama,Thriller'
 'In the high-stakes world of political power-brokers, Elizabeth Sloane is the most sought after and formidable lobbyist in D.C. But when taking on the most powerful opponent of her career, she finds winning may come at too high a price.'
 'John Madden'
 'Jessica Chastain, Mark Strong, Gugu Mbatha-Raw,Michael Stuhlbarg' 2016
 132 7.3 17818 3.44 64.0]
[48 'Adventure,Drama,Fantasy'
 'A young girl finds herself in a reform school after therapy since she was blamed for the death of a young boy. At the school she finds herself drawn to a fellow student, unaware that he is an angel, and has loved her for thousands of years.'
 'Scott Hicks'
 'Hermione Corfield, Addison Timlin, Joely Richardson,Jeremy Irvine' 2016
 91 5.6 5103 nan nan]
[49 'Action,Adventure,Sci-Fi'
 'The USS Enterprise crew explores the furthest reaches of uncharted space, where they encounter a new ruthless enemy who puts them and everything the Federation stands for to the test.'
 'Justin Lin' 'Chris Pine, Zachary Quinto, Karl Urban, Zoe Saldana' 2016
 122 7.1 164567 158.8 68.0]
[50 'Drama'
 'A director (Charlize Theron) of an international aid agency in Africa meets a relief aid doctor (Javier Bardem) amidst a political/social revolution, and together face tough choices ... See full summary Â»'
 'Sean Penn'
 'Charlize Theron, Javier Bardem, AdÃ¨le Exarchopoulos,Jared Harris' 2016
 130 3.7 987 nan 16.0]
[51 'Action,Adventure,Fantasy'
 'Three decades after the defeat of the Galactic Empire, a new threat arises. The First Order attempts to rule the galaxy and only a ragtag group of heroes can stop them, along with the help of the Resistance.'
 'J.J. Abrams' 'Daisy Ridley, John Boyega, Oscar Isaac, Domhnall Gleeson'
 2015 136 8.1 661608 936.63 81.0]
[52 'Action,Adventure,Fantasy'
 'Vampire death dealer, Selene (Kate Beckinsale) fights to end the eternal war between the Lycan clan and the Vampire faction that betrayed her.'
 'Anna Foerster'
 'Kate Beckinsale, Theo James, Tobias Menzies, Lara Pulver' 2016 91 5.8
 41362 30.35 23.0]
[53 'Comedy,Drama'
 "Three generations come together in the week leading up to Mother's Day."
 'Garry Marshall'
 'Jennifer Aniston, Kate Hudson, Julia Roberts, Jason Sudeikis' 2016 118
 5.6 20221 32.46 18.0]
[54 'Action,Crime,Thriller'
 'An ex-hitman comes out of retirement to track down the gangsters that took everything from him.'
 'Chad Stahelski'
 'Keanu Reeves, Michael Nyqvist, Alfie Allen, Willem Dafoe' 2014 101 7.2
 321933 43.0 68.0]
[55 'Action,Crime,Drama'
 'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, the Dark Knight must come to terms with one of the greatest psychological tests of his ability to fight injustice.'
 'Christopher Nolan'
 'Christian Bale, Heath Ledger, Aaron Eckhart,Michael Caine' 2008 152 9.0
 1791916 533.32 82.0]
[56 'Adventure,Drama,History'
 'In the 17th century, two Portuguese Jesuit priests travel to Japan in an attempt to locate their mentor, who is rumored to have committed apostasy, and to propagate Catholicism.'
 'Martin Scorsese'
 'Andrew Garfield, Adam Driver, Liam Neeson,Tadanobu Asano' 2016 161 7.3
 49190 7.08 79.0]
[57 'Crime,Horror,Thriller'
 "Hoping to walk away with a massive fortune, a trio of thieves break into the house of a blind man who isn't as helpless as he seems."
 'Fede Alvarez' 'Stephen Lang, Jane Levy, Dylan Minnette, Daniel Zovatto'
 2016 88 7.2 121103 89.21 71.0]
[58 'Drama,Romance'
 "A girl in a small town forms an unlikely bond with a recently-paralyzed man she's taking care of."
 'Thea Sharrock' 'Emilia Clarke, Sam Claflin, Janet McTeer, Charles Dance'
 2016 106 7.4 113322 56.23 51.0]
[59 'Comedy,Drama,Romance'
 'A former secretary, newly appointed as a scriptwriter for propaganda films, joins the cast and crew of a major production while the Blitz rages around them.'
 'Lone Scherfig' 'Gemma Arterton, Sam Claflin, Bill Nighy, Jack Huston'
 2016 117 7.0 3739 3.18 76.0]
[60 'Biography,Drama'
 "The story of Chesley Sullenberger, an American pilot who became a hero after landing his damaged plane on the Hudson River in order to save the flight's passengers and crew."
 'Clint Eastwood'
 'Tom Hanks, Aaron Eckhart, Laura Linney, Valerie Mahaffey' 2016 96 7.5
 137608 125.07 74.0]
[61 'Action,Adventure,Sci-Fi'
 'Fearing that the actions of Superman are left unchecked, Batman takes on the Man of Steel, while the world wrestles with what kind of a hero it really needs.'
 'Zack Snyder' 'Ben Affleck, Henry Cavill, Amy Adams, Jesse Eisenberg'
 2016 151 6.7 472307 330.25 44.0]
[62 'Horror,Mystery,Thriller'
 'A father and son, both coroners, are pulled into a complex mystery while attempting to identify the body of a young woman, who was apparently harboring dark secrets.'
 'AndrÃ© Ã˜vredal'
 'Brian Cox, Emile Hirsch, Ophelia Lovibond, Michael McElhatton' 2016 86
 6.8 35870 nan 65.0]
[63 'Crime,Drama,Mystery'
 'A divorcee becomes entangled in a missing persons investigation that promises to send shockwaves throughout her life.'
 'Tate Taylor'
 'Emily Blunt, Haley Bennett, Rebecca Ferguson, Justin Theroux' 2016 112
 6.5 102177 75.31 48.0]
[64 'Drama,Romance,Thriller'
 "Literature student Anastasia Steele's life changes forever when she meets handsome, yet tormented, billionaire Christian Grey."
 'Sam Taylor-Johnson'
 'Dakota Johnson, Jamie Dornan, Jennifer Ehle,Eloise Mumford' 2015 125 4.1
 244474 166.15 46.0]
[65 'Drama,Mystery,Sci-Fi'
 'Two stage magicians engage in competitive one-upmanship in an attempt to create the ultimate stage illusion.'
 'Christopher Nolan'
 'Christian Bale, Hugh Jackman, Scarlett Johansson, Michael Caine' 2006
 130 8.5 913152 53.08 66.0]
[66 'Action,Adventure,Comedy'
 "A spy organization recruits an unrefined, but promising street kid into the agency's ultra-competitive training program, just as a global threat emerges from a twisted tech genius."
 'Matthew Vaughn'
 'Colin Firth, Taron Egerton, Samuel L. Jackson,Michael Caine' 2014 129
 7.7 440209 128.25 58.0]
[67 'Drama,History,Thriller'
 'The story of the 2013 Boston Marathon bombing and the aftermath, which includes the city-wide manhunt to find the terrorists responsible.'
 'Peter Berg'
 'Mark Wahlberg, Michelle Monaghan, J.K. Simmons, John Goodman' 2016 133
 7.4 39784 31.86 69.0]

In [160]:
movies.loc[movies['Director'].isin(['James Gunn','Scot Armstrong'])]

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Slither,909,"Comedy,Horror,Sci-Fi","A small town is taken over by an alien plague,...",James Gunn,"Nathan Fillion, Elizabeth Banks, Michael Rooke...",2006,95,6.5,64351,7.77,69.0
Super,938,"Comedy,Drama",After his wife falls under the influence of a ...,James Gunn,"Rainn Wilson, Ellen Page, Liv Tyler, Kevin Bacon",2010,96,6.8,64535,0.32,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0

In [163]:
!pwd

/content

In [164]:
%cd ..

/

In [165]:
!pwd

/

In [166]:
!ls

bin			    datalab  kaggle  libx32		       opt   sbin  tools
boot			    dev      lib     media		       proc  srv   usr
content			    etc      lib32   mnt		       root  sys   var
cuda-keyring_1.0-1_all.deb  home     lib64   NGC-DL-CONTAINER-LICENSE  run   tmp